.uppercase {
  text-transform: uppercase;
}

.container {
  padding-left: 300px;
  padding-right: 300px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 992px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* //// Elements  */
a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* Header, Footer & Body */

body {
  margin: 0;
  background: #ffffff;
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  color: #000;
}

header {
  padding: 1.5% 0;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  header div {
    justify-content: space-around;
  }
}

header a {
  font-weight: bold;
  letter-spacing: 1.2pt;
  transition: 0.3s;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

header a:hover {
  color: black;
}

header .current_link {
  color: black;
}

header li {
  padding: 7px;
}

footer {
  background-color: rgba(0, 0, 0, 98);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  footer {
    justify-content: space-around;
  }
}

footer section {
  width: 200px;
  margin-bottom: 30px;
}

footer h4 {
  color: white;
  letter-spacing: 1.4px;
  font-weight: 200;
  margin-bottom: 10px;
}

footer ul,
footer li {
  padding: 0;
  margin: 0;
}

footer li {
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

footer li a {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  font-size: 12px;
}

footer li a:hover {
  color: white;
}

footer button {
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  padding: 15px 25px;
  transition: 0.3s;
  border-radius: 25px;
  color: black;
  background-color: white;
  border: 2px solid white;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}

footer button:hover,
footer button:focus {
  background-color: black;
  color: white;
}

footer p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  font-size: 12px;
}

footer img {
  margin-top: 15px;
  height: 30px;
}

/* //// Position of an element in div */

.centered {
  text-align: center;
  margin: 0 auto;
}

/* //// Positions of multiple elements in div */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
