/* Constants */

:root {
  /* COLOR */
  --color_primary: tomato;
  --color_secondary: rgb(0, 81, 255);
  --color_button_primary: rgb(194, 170, 38);
  --color_button_secondary: rgb(0, 195, 255);
  --color_other_primary: rgb(255, 241, 134);
  --color_other_secondary: rgb(233, 217, 93);

  /* FONTS FAMILY */
  --font_title: "Lato", sans-serif;

  /* SIZES */
  --fontSize_title: 20px;
  --fontSize_content: 16px;
}
