/* ===========================
COMMON
 ============================ */

main section {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 70px 0;
}

.grey {
    background-color: rgba(0, 0, 0, 0.05);
}

.w25 {
    max-width: 25%;
}

.w33 {
    max-width: 33.3%;
}

.w50 {
    max-width: 50%;
}

.w75 {
    max-width: 75%;
}

/* ===========================
SCROLL DOWN BUTTON
 ============================ */

#scroll-down {
    position: fixed;
    width: 30px;
    height: 30px;
    padding: 8px;
    bottom: 30px;
    right: 6%;
    border: 2px solid;
    z-index: 500;
    transition: 0.3s;
    background-color: black;
    opacity: 0.8;
    -webkit-box-shadow: 0px 0px 63px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 63px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 63px -6px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scroll-down:hover {
    box-shadow: 0 0.8em 1em -0.5em black;
    transform: translateY(-0.65em);
    border-color: black;
    color: #fff;
}

#scroll-down:active {
    transform: scale(0.95);
}

/* ===========================
SECTION GET_STARTED
 ============================ */
#get_started {
    min-height: 90vh;
    background-image: url(../assets/hero-tour.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 10%;
}

#get_started hr {
    margin: 0 30%;
    width: 40%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

#get_started h1 {
    color: white;
    font-weight: 500;
    font-size: calc(3vh + 2.5vw);
    text-align: center;
    margin: 25px 0 0 0;
    line-height: 120%;
}

#get_started p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Times New Roman";
    font-style: italic;
    font-size: var(--fontSize_title);
    text-align: center;
    margin: 10px 0;
}

#get_started button {
    cursor: pointer;
    font-size: 16px;
    padding: 20px 32px;
    transition: 0.3s;
    border-radius: 40px;
    margin: 20px;
}

#get_started .button_left {
    background-color: var(--color_button_primary);
    border: 2px solid var(--color_button_primary);
    font-weight: 600;
}

#get_started .button_left:hover,
#get_started .button_left:focus {
    outline: none;
    background: none;
    box-shadow: none;
    background-color: var(--color_button_secondary);
    transform: scale(1.05);
}

#get_started .button_right {
    color: white;
    background-color: transparent;
    border: 2px solid transparent;
    font-weight: 500;
}

#get_started .button_right:hover,
#get_started .button_right:focus {
    outline: none;
    background: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

#get_started .button_right img {
    margin-left: 10px;
    width: 25px;
}

/* ===========================
PRESS
 ============================ */

#press {
    display: grid;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 10%;
}

#press div {
    grid-area: 1 / 1;
}

#press .grey_layout {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

#press h3 {
    max-width: 100px;
    max-height: 40px;
    font-size: 10px;
    letter-spacing: 1.2pt;
    font-weight: 800;
    margin: 20px;
}

#press img {
    max-width: 12%;
    max-height: 40px;
    margin: 2%;
}

/* ===========================
CAROUSEL TV & PAGES GALLERIES
 ============================ */

#carousel_tv,
#pages_galleries {
    justify-content: flex-end;
    padding-bottom: 0px;
}

#carousel_tv img {
    width: 100%;
    height: 500px;
}

#carousel_tv .layout {
    width: 100%;
    height: 600px;
    position: relative;
    top: -520px;
    margin-bottom: -520px;
}

@media (max-width: 1200px) {
    #carousel_tv img {
        width: 100%;
        height: 250px;
    }

    #carousel_tv .layout {
        width: 100%;
        height: 300px;
        position: relative;
        top: -260px;
        margin-bottom: -260px;
    }
}

/* ===========================
CAROUSEL BLOG
 ============================ */

#carousel_blog img {
    width: 100%;
}

#carousel_blog article {
    width: 300px;
}

@media (max-width: 1200px) {
    #carousel_blog div {
        justify-content: space-around;
    }
    #carousel_blog article img {
        height: 14px;
        width: 14px;
    }
}
#carousel_blog li {
    margin-right: 10px;
}

/* ===========================
MOBILE SITES
 ============================ */

#mobile_sites div {
    max-width: 350px;
}

@media (max-width: 1200px) {
    #mobile_sites div img {
        height: 18px;
        margin-bottom: 20px;
    }
}

/* ===========================
CONNECT
 ============================ */
#connect div {
    align-items: flex-start;
}

/* ===========================
COMMENTS
 ============================ */
#comments img {
    border-right: 1px solid silver;
}

#comments div {
    max-width: 400px;
}

/* ===========================
CONTRIBUTORS
 ============================ */

#contributors {
    align-items: flex-start;
}

#contributors div {
    max-width: 400px;
}

#contributors .avatar {
    width: 100%;
    height: 60px;
    background-color: var(--color_green);
}

#contributors .avatar p {
    color: white;
    font-size: 16px;
    margin: 0;
}

#contributors .avatar span {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid white;
}

#contributors .avatar-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -80px;
    left: -30px;
    margin-bottom: -80px;
}

@media (max-width: 1200px) {
    #contributors .avatar {
        width: 100%;
        height: 40px;
        background-color: var(--color_green);
    }
    #contributors .avatar-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        top: -50px;
        left: -10px;
        margin-bottom: -80px;
    }
}

#contributors .quote {
    display: flex;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}
#contributors .quote strong {
    margin-right: 25px;
    font-size: 50px;
    font-family: "Catamaran", sans-serif;
    line-height: 100%;
}

/* ===========================
CLOUD
 ============================ */

#cloud {
    align-items: flex-start;
    padding-bottom: 10px;
}

#cloud div {
    max-width: 400px;
}
